.mainSection {
    padding: 20px;
}

.about, .featuredCourses, .testimonials
{
    margin-bottom: 20px;
}

.about h2, .featuredCourses h2, .testimonials h2 
{
    margin-bottom: 10px;
}

.courseList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.courseCard {
    border: 1px solid white;
    padding: 10px;
    text-align: center;
    width: 30%;
    margin-bottom: 10px;
}

.courseCard img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    object-fit: cover;
    margin-bottom: 10px;
  }

.testimonials {
    border: 1px solid white;
    padding: 10px;
    margin-bottom: 10px;
}