.greyBox {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}


.formContainer h2 {
    text-align: center;
    color: #004080;
}


.formContainer label {
    display: block;
    margin-bottom: 5px;
    text-align: center;
}


.formContainer input {
    width: 50%;
    margin: 10px auto 20px auto;
    text-align: center;
    box-sizing: border-box;
    display: block;
    padding: 8px;
}


.messageBox {
    padding: 10px;
    border-radius: 4px;
    margin: 0 auto 10px auto;
    text-align: center;
    width: 60%;
}

.messageBoxError {
    background-color: #f8d7da;
    color: #842029;
    border: 1px solid #f5c2c7;
    margin: 0 auto 10px auto;
    text-align: center;
    width: 60%;
}

.messageBoxSuccess {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    margin: 0 auto 10px auto;
    text-align: center;
    width: 60%;
}


.signupButton {
    background-color: #4CAF50;
    padding: 10px;
    border-radius: 5px;
    margin: 10px auto;
    border: none;
    color: white;
    opacity: 0.5;
    cursor: pointer;
    display: block;
    width: 5%;
}

.signupButton:hover {
    background-color: #45A049;
    opacity: 1.0;
}

.loginLink {
    text-align: center;
}